@font-face {
    src: url(/BBaran.eot);
    font-family: 'BBaran';
}
body, html{
    width: 100vw;
    height: 100vh;
}

.wrapper{
    font-family: 'BBaran';
    width: 100%;
    height: 100%;
    background: rgb(236,104,131);
    background: linear-gradient(148deg,
  rgba(236,104,131,1) 7%,
  rgba(199,98,210,1) 26%, 
  rgba(221,234,88,1) 51%,
  rgba(146,167,222,1) 66%,
  rgba(63,94,251,1) 84%);
    /* background: rgb(63,94,251);
    background: linear-gradient(320deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
    position: relative;
}

.signin_form{
    float: right;
    width: 216px;
    height: 100%;
    

}
.signup_form{
    float: left;
    width: 229px;
    padding-left: 34px;
}
.colorgreen{
    color:white;
    background-color: #6CE284;
    border: #6CE284;
    width: 185px;
    height: 38px;
}
.colorred{
    color: white;
    background-color: #EC6A6A;
    border:#EC6A6A;
    width: 185px;
    height: 38px;
}

.form_container{
    width: 535px;
    height: 306px;
    background-color: white;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%); 
   border-radius: 20px;
   box-shadow: -1px 3px 2px 5px rgba(0,0,0,0.12);
    
}
input{
    height: 24px;

    background-color: aliceblue;
    border: 2px solid aliceblue;
  border-radius: 25px;
  padding: 5px;
  direction: rtl;
  /* padding-right: 25px;
  background: url("/image/black-email-icon-png-19.jpg") no-repeat left;
  background-size: 20px; */

}

p{
    text-align: center;
}
.username-signup{
    color:rgb(108, 105, 105);
    font-weight: bolder;
    padding-top: 15px;
    padding-right: 50px ;
}
.username-signin{
    color:rgb(108, 105, 105);
    font-weight: bolder;
    padding-top: 21px;
    
}
.input-icons i{
    position: absolute;
    left: 8px;
    top:3px 5px;
    padding: 9px 155px;
    
}
.input-icons {
    margin-bottom: 10px;
    position: relative;
}
::placeholder{
    color: #b2b4b3;
}